[project]
	description = This your first repo!
[access "refs/*"]
	owner = group user/kickli (kickli)
[access "refs/for/refs/*"]
	read = group user/kickli (kickli)
	push = group user/kickli (kickli)
	label-Code-Review = -2..+2 group user/kickli (kickli)
	label-Verified = -1..+1 group user/kickli (kickli)
	rebase = group user/kickli (kickli)
	removeReviewer = group user/kickli (kickli)
	submit = group user/kickli (kickli)
[access "refs/heads/*"]
	read = group user/kickli (kickli)
	create = group user/kickli (kickli)
	push = +force group user/kickli (kickli)
	pushMerge = group user/kickli (kickli)
[access "refs/tags/*"]
	push = +force group user/kickli (kickli)
	pushTag = group user/kickli (kickli)
	pushSignedTag = group user/kickli (kickli)
